.cart-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.cart-banner-h1 {
  margin-bottom: 0;
  align-self: center;
}

.checkout-btn {
  font-size: 14px;
  padding: 0.5rem 2rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.checkout-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-cart {
  /* padding: 2rem 20rem 10rem 2rem; */
  padding: 2rem 2rem 10rem 2rem;
  background-color: #f6f6f6;
  min-width: 54rem;
}

.main-cart h1 {
  font-size: 24px;
  font-weight: 700;
}

.empty-cart-h1 {
  margin-bottom: 2rem;
}

.main-cart p {
  font-size: 13px;
  color: #333;
}

.sidebar {
  font-weight: 500;
  color: white;
  background-color: #333;
  padding: 2rem 2rem 10rem;
}

.sidebar h4 {
  font-size: 24px;
  margin-bottom: 3rem;
}

/* .payment-container div {
  font-size: 14px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
} */

.hyperlink {
  color: yellowgreen;
}

.checkout-banner {
  padding: 3rem 0rem 4rem 12rem;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: block;
}

.checkout-banner h1 {
  font-size: 54px;
  font-weight: 700;
  padding: 8px 0px;
  width: 100%;
}

.checkout-banner h4 {
  font-size: 16px;
  color: #343434;
}

.checkout-banner p {
  width: 80%;
  font-size: 14px;
  color: #343434;
}

/* Individual containers */
.subtotal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 13px;
  gap: 9rem;
}

.shipping-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 13px;
  gap: 9rem;
}

.tax-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 13px;
  gap: 9rem;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 13px;
  gap: 9rem;
}

/* FOOTER */
.footer {
  visibility: hidden;
  padding: auto;
  margin: auto;
}

/* CART CONTAINER */
.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: solid 1px #000;
  background-color: #ccc;
  width: 100%;
  margin-bottom: 1rem;
}

.item-column {
  flex-grow: 2;
  padding-right: 25rem;
}

.unitprice-column {
  flex-grow: 1;
  padding-right: 5rem;
}

.total-price-column {
  flex-grow: 1;
}
