/* ITEMS */
.item-container {
  margin-bottom: 1rem;
  border: 1px solid #333;
  padding: 1rem;
  position: relative;
}

.item-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-photo {
  width: 25%;
}

/* FIRST ROW STUFF */
.item-first-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.item-name {
  font-weight: 500;
  padding-left: 1rem;
  font-size: 14px;
}

.item-price {
  font-weight: 500;
  margin-left: 6rem;
  font-size: 14px;
}

.item-totalprice {
  font-weight: 600;
  margin-left: 9rem;
  font-size: 14px;
}

/* SECOND ROW STUFF */
.item-second-row {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 13px;
}

.sku-info {
  color: #333;
  font-size: 11px;
  margin-bottom: 3.5rem;
}

.sku-size {
  width: 120px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem 0.5rem;
  margin-bottom: 0.5rem;
}

.sku-quantity {
  width: 120px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem 0.5rem;
}

.remove-item-btn {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  right: 2%;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem 0.5rem;
}
